<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->
        <!-- CONTENT --------------------------------------------------------------------------------->

        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/courses_2021.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">INFORMATIONS COURSES</div><br>
                    <h4 class="">
                        <span class="text-original-case">
                            Retrouvez toutes les informations relatives aux courses ici<br>
                            46ème édition
                        </span>
                    </h4>
                </div>
            </div>
        </section>

        <div class="mt-3 mb-3"></div>

        <!-- Work Section -->
        <section class="pt-5 pb-5">
            <div class="container">
                <!-- Accordion -->

                <h4>Pimp my bike</h4>
                <div class="accordion">
                    <div class="accordion-section">
                        <h6 class="accordion-title">Pimp My Bike, c’est quoi ?</h6>
                        <div class="accordion-content">
                            <p>
                                Pour trouver une alternative aux courses à distance et pour créer du lien entre les
                                participants, on a décidé de lancer le challenge Pimp My Bike. Ce challenge consiste à
                                poster des photos ou des vidéos,
                                <a href="https://www.facebook.com/Courses-des-24-heures-de-lINSA-111750412236566">
                                    sur notre page Facebook,
                                </a>
                                de votre vélo le plus original/innovant/décoré. Le plus beau vélo parmi les participants sera récompensé.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <h6 class="accordion-title">Pimp My Bike, c’est quand ?</h6>
                        <div class="accordion-content">
                            <p>
                                Le challenge commence le dimanche 16 mai 2021 à 14h et vous pourrez poster votre vélo jusqu’au dimanche 23 mai 2021 à 14h.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <h6 class="accordion-title">Comment je peux participer ?</h6>
                        <div class="accordion-content">
                            <p>
                                Rien de plus simple, il vous suffit simplement de poster une image/vidéo de votre vélo
                                <a href="https://www.facebook.com/Courses-des-24-heures-de-lINSA-111750412236566">
                                    sur notre page Facebook,
                                </a>
                                Votre participation* sera enregistrée via votre nom d’utilisateur Facebook et c’est tout !
                                *Une seule participation par personne.

                            </p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <h6 class="accordion-title">Comment sera sélectionné le gagnant ?</h6>
                        <div class="accordion-content">
                            <p>
                                A l’issue du temps imparti pour participer, l’équipe des 24 Heures de l’Insa va
                                sélectionner les 6 meilleures participations. Ensuite, un sondage sera mis en ligne à
                                partir du dimanche 23 mai à 16h jusqu’au lundi 24 mai à 14h. C’est donc vous, qui
                                pourrez voter pour élire le meilleur vélo. Le gagnant sera annoncé le lundi 24 mai à 15h.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <h6 class="accordion-title">Puis-je modifier ma participation ? </h6>
                        <div class="accordion-content">
                            <p>
                                On accepte qu’une seule participation par personne, mais si vraiment vous souhaitez
                                modifier votre photo/vidéo car vous avez fait mieux pendant la semaine, vous pourrez
                                nous écrire un message sur facebook pour effectuer cette modification.
                            </p>
                        </div>
                    </div>
                </div>

                <h4>24h de courses</h4>

                <div class="accordion">
                    <div class="accordion-section">
                        <h6 class="accordion-title">Les courses, comment ça se passe ?</h6>
                        <div class="accordion-content">
                            <p>
                                Nouveau format cette année, on vous propose un challenge de 24 heures de courses à
                                distance via Strava. Vous aurez 10 jours pour faire le maximum de kilomètres, chez vous,
                                en 24 heures de sport* ( ou moins ) et télécharger vos activités sur le site web dédié
                                afin de vous confronter avec les autres participants.<br>
                                *Seules les 24 premières heures d’activités seront comptées pour le classement.<br>
                                Vous aurez le choix de relever ce challenge dans trois sports différents : le vélo, la
                                course à pied, le duathlon ( course à pied et vélo ).<br>
                                Pour cela, vous pourrez le faire en solitaire ou alors en équipe.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <h6 class="accordion-title">Les courses, c’est quand ?</h6>
                        <div class="accordion-content">
                            <p>
                                Cette année, les courses s’étaleront sur une dizaine de jours du vendredi 14 mai 2021
                                à partir de 14h jusqu’au dimanche 23 mai 2021 à 14h. <br>
                                Vous serez autorisé à vous inscrire jusqu’au dimanche 23 mai à 14h00.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <h6 class="accordion-title">Les tarifs c’est quoi ?</h6>
                        <div class="accordion-content">
                            <p>
                                Cette année, puisque les courses sont en distanciels, l’inscription aux courses est gratuite. <br>
                                Vous pourrez tout de même effectuer des dons à l'association si vous le souhaitez.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <h6 class="accordion-title">Les catégories de courses </h6>
                        <div class="accordion-content">
                            <p>
                                Vous pourrez choisir l’une des trois épreuves suivantes : <br>
                                <ul>
                                    <li>Vélo ( 24 heures )</li>
                                    <li>Course à pied ( 24 heures )</li>
                                    <li>Duathlon ( 8 heures de course à pied et 16 heures de vélo )</li>
                                </ul>
                                Les types d’équipe :<br>
                            <ul>
                                <li>Solo</li>
                                <li>Equipe ( 4 personnes maximum )</li>
                                <li>Loisir ( 12 personnes maximum )</li>
                            </ul>
                                Les équipes mixtes sont autorisées.
                                C’est bien le cumul de l’équipe qui sera égal à 24 heures et pas la contribution de chaque participant de l’équipe.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <h6 class="accordion-title">A partir de quel âge je peux participer ?</h6>
                        <div class="accordion-content">
                            <p>
                                Puisque vous effectuez ce challenge sous votre propre responsabilité ou celle de vos
                                parents, nous autorisons tous les coureurs à partir de 16 ans ( année de naissance : 2005 ). <br>
                                Tous les participants mineurs devront fournir une autorisation parentale par mail afin de valider l’inscription.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <h6 class="accordion-title">Comment est-on classé ?</h6>
                        <div class="accordion-content">
                            <p>
                                Les classements s’effectueront via un cumul des kilomètres sur le temps imparti ( 24 heures d’activités maximum ). Il n’y aura pas de distinctions concernant le dénivelé des activités puisqu’un classement annexe spécifique sera créé ( aucune valeur réelle par rapport au classement général ).<br>
                                Les classements seront réalisées via le scoring suivant :
                                <ul>
                                    <li>1 km de course à pied = 3 points</li>
                                    <li>1 km de vélo = 1 points</li>
                                </ul>

                                Nous prendrons seulement en compte les activités possédant une trace GPS ( via strava ) pour le classement.<br>

                                Aucunes distinctions de sexe dans tous les classements.<br>

                                Les classements annexes :<br>

                                Nous avons souhaité ajouter quelques classement spécifiques afin de pimenter votre expérience,<br>
                                <ul>
                                    <li>Challenge Terre de Running : dénivelé maximal ( course à pied et vélo )</li>
                                    <li>Challenge One Gum : activité la plus longue en temps ( course à pied et vélo )</li>
                                </ul>
                                Rappel Important :<br>

                                Nous souhaitons préciser que tout le monde apparaîtra de manière individuelle dans les classements spécifiques.<br>
                                Les participants du duathlon apparaîtront aussi de manière individuelle dans les classements des courses simples.<br>

                            </p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <h6 class="accordion-title">Comment m'inscrire ? </h6>
                        <div class="accordion-content">
                            <p>
                                Ce n’est pas compliqué, rends-toi sur
                                <a href="https://24heures.org/coureses/24heuresdecourses">
                                    le site des courses
                                </a>
                                crée toi un compte et suit les instructions pour t'inscrire.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <h6 class="accordion-title">La course caritative</h6>
                        <div class="accordion-content">
                            <p>
                                Cette année, la course des 24 heures de l’Insa devait soutenir l’association :
                                “Vaincre la Mucoviscidose”. Malheureusement, avec la tenue des courses à distance,
                                il est compliqué de maintenir le même système que les années précédentes pour les dons.
                                On vous invite donc directement à vous rendre sur
                                <a href="https://www.vaincrelamuco.org/">
                                    le site de l’association
                                </a>
                                afin de leur faire des dons si vous le désirez.

                            </p>
                        </div>
                    </div>
                </div>





                    <div class="accordion-section d-none">
                        <h6 class="accordion-title">Comment m'inscrire ?</h6>
                        <div class="accordion-content">
                            <p>
                                Rendez-vous à la page <a href="/courses/inscriptions">Inscriptions</a> et créer une équipe. Cette équipe est associée à un compte (avec mot de passe)
                                pour que vous puissiez vous connectez et complétez l'inscription. <span style="color: red;">Attention 1 compte = 1 équipe. Veuillez ne créer qu'un seul compte pour tous les membres de l'équipe.</span>
                                <br>Une fois l'équipe créée, rendez-vous à la page <a href="/courses/connexion">Connexion</a>
                                et connectez-vous avec le nom de l'équipe, puis complétez les informations demandées. N'oubliez pas d'ajouter les informations du ou des membres de votre équipe.</p>
                        </div>
                    </div>
                    <div class="accordion-section d-none">
                        <h6 class="accordion-title">Comment m'inscrire ?</h6>
                        <div class="accordion-content">
                            <p>
                                Les inscriptions pour l'édition 2020 sont fermées. En raison de la pandémie de covid-19, les courses sont annulées.</p>
                        </div>
                    </div>
                    <div class="accordion-section d-none">
                        <h6 class="accordion-title">Comment être sur que mon inscription a été validée</h6>
                        <div class="accordion-content">
                            <p>Rendez-vous sur votre compte pour voir si votre inscription a été définitivement validée.
                                Nous vous laissons quelques jours pour procéder au paiement et charger votre certificat médical.
                                Si cela n'est pas fait dans les semaines qui suivent, l'inscription sera annulée et une équipe sur liste d'attente sera prise.</p>
                        </div>
                    </div>
                    <div class="accordion-section d-none">
                        <h6 class="accordion-title">Quels sont les documents nécessaires à la validation de l'inscription</h6>
                        <div class="accordion-content">
                            <p>Pour valider l'inscription, il faut :<br>
                            - le paiement de chaque coureur<br>
                            - un certificat médical portant la mention <b>"autorise la pratique du ... en compétition"</b> où ... est remplacé par le type de sport auquel vous participez (triathlon / cyclisme / course à pied).<br>
                            - pour les sportifs licenciés dans le sport de la course, vous pouvez nous faire parvenir la photocopie de votre licence en cours de validité à la place du certificat médical.<br>
                            - la carte VA (pour les détenteurs)
                            </p>
                        </div>
                    </div>
                    <div class="accordion d-none">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Qu’est ce que la carte VA ?</h6>
                            <div class="accordion-content">
                                <p>C'est la carte de la vie associative. Elle concerne seulement les étudiants de l'INSA adhérents.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-section d-none">
                        <h6 class="accordion-title">Les courses, c'est quoi, c'est quand ?</h6>
                        <div class="accordion-content">
                            <p>
                               Les courses se déroulent sur 24h et se décomposent en 3 types :<br>
                                - Course à Vélo<br>
                                - Course à Pied<br>
                                - Duathlon (4h de course à pieds, 16h de vélo, 4h de course à pieds)<br>
                                - Folklo (uniquement samedi de 14h à 18h)<br>
                                L’édition 2021 aura lieu les 22 et 23 mai 2021. <br>
                            </p>
                        </div>
                    </div>
                    <div class="accordion-section d-none">
                        <h6 class="accordion-title">Comment fonctionnent les catégories ?</h6>
                        <div class="accordion-content">
                            <p>
                                Pour chaque sport, on a les catégories suivantes :<br>
                                - Solo (Equipe composée de 1 personne)<br>
                                - Equipe (Equipe composée de 2 à 4 personnes)<br>
                                - Loisirs (Equipe composée  de 5 à 12 personnes)<br>
                            </p>
                        </div>
                    </div>
                    <div class="accordion-section d-none">
                        <h6 class="accordion-title">Qu’est ce que la course Folklo ?</h6>
                        <div class="accordion-content">
                            <p>
                                Se déroulant le samedi 16 mai de 14h à 18h, c’est la course la plus décalée des 24H ! Le principe est simple :
                                venir avec des vélos déjantés, bricolés, déguisés...(le plus original sera le mieux !) sillonner le lieu du festival et mettre l’ambiance !<br>
                                Attention : les vélos de plus de 1,80 mètres de largeur ne sont pas acceptés, pour plus d’information, consulter le
                                <a target="_blank" href="../documents/reglement_courses_24hinsa_2020.pdf">règlement</a>.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-section d-none">
                        <h6 class="accordion-title">Quels sont les tarifs des courses</h6>
                        <div class="accordion-content">
                            <p>
                                Voici la grille tarifaire 2020 par coureur : <br>
                                - VELO Solo > Tarif normal : 20€ / Tarif INSA VA : 15€ <br>
                                - VELO Equipe > Tarif normal : 15€ / Tarif INSA VA : 10€ <br>
                                - VELO Loisir > Tarif normal : 12€ / Tarif INSA VA : 8€ <br>
                                - COURSE A PIED Solo > Tarif normal : 20€ / Tarif INSA VA : 15€ <br>
                                - COURSE A PIED Equipe > Tarif normal : 15€ / Tarif INSA VA : 10€ <br>
                                - COURSE A PIED Loisir > Tarif normal : 12€ / Tarif INSA VA : 8€ <br>
                                - DUATHLON Solo > Tarif normal : 25€ / Tarif INSA VA : 20€ <br>
                                - DUATHLON Equipe > Tarif normal : 20€ / Tarif INSA VA : 15€ <br>
                                - DUATHLON Loisir > Tarif normal : 15€ / Tarif INSA VA : 10€ <br>
                                - FOLKLO > Gratuit pour tous<br>
                            </p>
                        </div>
                    </div>
                    <div class="accordion d-none">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Comment payer ?</h6>
                            <div class="accordion-content">
                                <p>Une fois inscrit sur ce site (dans l'onglet courses/inscriptions), vous aurez accès à la page pour procéder au paiement.
                                    Assurez-vous d'avoir d'abord inscrit vos informations personnelles et certificat médical avant de payer.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion d-none">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Comment venir ?</h6>
                            <div class="accordion-content">
                                <p>Rendez-vous à la page <a target="_blank" href="/infos/transports">Transport</a>.<br>
                                    Dans le cas où vous souhaitez venir en voiture, vous pouvez consulter la question suivante.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion d-none">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Où se garer ?</h6>
                            <div class="accordion-content">
                                <p>
                                    Le campus de la Doua étant fermé à la circulation sur l’ensemble du week-end de festivités, vous pourrez rentrer uniquement en véhicule à moteur par l’entrée ouest (voir plan), le vendredi 15 avant 20h, ou le samedi 16 matin entre 6h et 10h afin de vous installer.<br>
                                    Il n'est pas possible de rentrer après 20h le vendredi, ni après 10h le samedi, planifiez donc votre arrivée en conséquence.<br>
                                    Un justificatif d’identité au nom d’un coureur sera exigé pour que le véhicule puisse rentrer.<br>
                                    Dans le cas où vous ne pourriez arriver qu’après 20h le vendredi, il vous sera tout de même possible de vous garer à proximité, sur la contre allée longeant le boulevard Laurent Bonnevay (zone grisée sur la plan). D’ici, vous pourrez venir vous installer à pied (moins de 200 mètres) en attendant de rentrer votre véhicule sur le campus le samedi matin entre 6h et 10h.<br>
                                    Une fois sur le campus vous serez autorisés à venir vous garer et vous installer sur la pelouse longeant le boulevard Niels Bohr (zone verte sur le plan): <a target="_blank" href="https://www.google.com/maps/d/u/0/viewer?mid=1poQHHGe80NHDJCHNXRM7TPgd2AGzNF7p&ll=45.78365686358531%2C4.871056112759106&z=16">Plan et Parcours</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion d-none">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Y a t-il un ravitaillement ?</h6>
                            <div class="accordion-content">
                                <p>Le ravito est là pour les coureurs et leur petite (ou grosse) faim.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion d-none">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Où les accompagnateurs / supporters peuvent-ils manger ?</h6>
                            <div class="accordion-content">
                                <p>Vos sandwichs et pique-niques seront de la partie ! Sinon il y'a aussi des food-trucks sur le campus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion d-none">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Qu'est-ce que le village coureur ?</h6>
                            <div class="accordion-content">
                                <p>Le village coureur sera le centre de vie des coureurs et de la course. C’est l’endroit du ravito, de l’espace sieste, et de l’espace détente avec <a href="https://www.isosteo.fr">des ostéopathes de chez Isosteo</a> qui seront présents.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion d-none">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Quel est le réglement des courses ?</h6>
                            <div class="accordion-content">
                                <p>Consultez le réglement des courses 2020 ici <a target="_blank" href="../documents/reglement_courses_24hinsa_2020.pdf">Reglement</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion d-none">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Quel est la réglementation pour les mineurs ?</h6>
                            <div class="accordion-content">
                                <p>Courses à pied : <br>
                                    - Benjamin (né en 2008/2009) --> 3 km max<br>
                                    - Minime (né en 2006/2007) --> 5 km max<br>
                                    - Cadet (né en 2004/2005) --> 15 km max<br>
                                    - Junior (né en 2003) --> 25 km max
                                </p>
                                <p>Vélo : <br>
                                    - Minime (né en 2006/2007) --> 40 km max / Dev max 7.01m<br>
                                    - Cadet (né en 2004/2005) --> 80 km max / Dev max 7.62m<br>
                                    - Junior (né en 2003) --> Dev 7.93m
                                    Dev = circonférence de roue * nb dents plateau / nb dents pignon.
                                </p>
                                <p>Duathlon (né entre 2003 et 2009) : <br>
                                    - Cyclisme : 6km<br>
                                    - Course à pied : 2km</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion d-none">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Qu’est ce qu’est le partenariat avec Fidaction ?</h6>
                            <div class="accordion-content">
                                <p>Plus d'info sur la page <a href="course-caritative">Course caritative</a></p>
                            </div>
                        </div>
                    </div>
                <!-- End Accordion -->
            </div>
        </section>

        <!-- COURSES FOOTER -->
        <%- include courses-footer.ejs %>
        <!-- END COURSES FOOTER -->

        <!-- End Work Section -->
        
        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.downCount.js" type="text/javascript"></script>

    <script type="text/javascript">
		$('.countdown').downCount({
			date: '05/17/2019 19:00:00',
			offset: +10
		}, function () {
		});
    </script>
    <script type="text/javascript">
		$("#menu-courses").css('color', '#E20917');
		$("#sidebar-menu-informations").css('color', '#E20917');
        $("#title-page-nav").append("Infos Courses");
    </script>


    
</body>
</html>
