<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->
        <!-- CONTENT --------------------------------------------------------------------------------->

        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/courses-caritatives.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">COURSES CARITATIVES</div><br>
                    <h4 class="">
                        <span class="text-original-case">Une performance sportive doublée d’une volonté de faire changer les choses ?<br>
                                Retrouvez toutes les infos de la course caritative.</span>
                    </h4>
                </div>
            </div>
        </section>

        <div class="mt-3 mb-3"></div>

        <!-- Work Section -->
        <section class="pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-justify">
                        <h5 class="text-center">QUE SOUTENONS-NOUS ENSEMBLE ?</h5>
                        <p>
                            Durant cet événement nous soutenons l’association <b>Vaincre la Mucoviscidose</b>, engagée depuis longtemps dans la lutte contre la mucoviscidose.
                            Les dons collectés grâce à votre générosité serviront à financer la recherche afin de trouver de nouvelles solutions thérapeutiques,
                            mais aussi des postes dans les hôpitaux dans les unités de soins spécialisées (CRCM).
                        </p>
                        <h5 class="text-center pt-2">QU’EST CE QUE L’ASSOCIATION VAINCRE LA MUCOVISCIDOSE? QUE FAIT-ELLE ?</h5>
                        <p>
                            L’association a été créée en 1965 sous le nom de l’Association française de lutte contre la mucoviscidose.
                            Elle lutte contre cette maladie génétique dégénérative qui touche notamment les systèmes digestif et respiratoire des patients,
                            en finançant la recherche ou encore des postes dans les hôpitaux.
                            Chaque année, elle organise les Virades de l’espoir à travers la France,
                            manifestation festive et sportive destinée à récolter des dons afin de faire vivre ses différents projets.
                            Enfin, ses actions sont orientées selon quatre pôles : soigner aujourd’hui, vivre avec, guérir demain et agir ensemble.
                        </p>
                        <p>
                            Pour plus d'informations, visitez leur site : <a href="https://www.vaincrelamuco.org/" target="_blank">https://www.vaincrelamuco.org/</a>
                        </p>
                    </div>
                    <div class="col-md-6 text-justify m-auto" style="max-width:550px;">
                        <img alt="1" style="object-fit: cover" src="../img/site/courses_caritatives_photo.jpg" class="item-container">
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-2">
            <div class="container">
                <div class="row">
                        <div class="col-md-3 text-justify m-auto pb-3">
                        <img alt="1" style="object-fit: cover" src="../img/partenaires/logo_vaincre_la_mucoviscidose_couleur.jpg" class="item-container">
                    </div>
                    <div class="col-md-9 text-justify">
                        <h5 class="text-center">COMMENT AGIR ?</h5>
                        <p>Plusieurs possibilités s’offrent à vous pour lutter à votre échelle pour la lutte contre la mucoviscidose.<br>
                            Vous pouvez directement faire un don via le site de Vaincre la Mucoviscidose <a href="https://soutenir.vaincrelamuco.org/" target="_blank">https://soutenir.vaincrelamuco.org/</a>
                            ou alors participer à la course caritative !
                            En participant à cette course, vous pouvez faire le choix de faire un don directement lors de votre inscription,
                            ou faire une promesse de don en fonction du nombre de kilomètre ou de tour parcouru pendant votre course
                            (par exemple vous promettez de verser tant par kilomètre parcouru, et vous faites un don final à la fin de votre course).
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- COURSES FOOTER -->
        <%- include courses-footer.ejs %>
        <!-- END COURSES FOOTER -->

        <!-- End Work Section -->
        
        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.downCount.js" type="text/javascript"></script>

    <script type="text/javascript">
		$("#menu-courses").css('color', '#E20917');
		$("#sidebar-menu-caritative").css('color', '#E20917');
        $("#title-page-nav").append("Course Caritative");
    </script>


    
</body>
</html>
